* {
  margin: 0px;
  padding: 0px;
}
/* sheard style */
.open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
/* main style */
header {
  background-color: #fff8f3;
  background: url(../images/developer.png), url(../images/header_bg.png),
    #fff8f3;
  background-position: 23px 38px, bottom right;
  background-repeat: no-repeat;
  padding-top: 50px;
}
nav {
  width: 71%;
  max-width: 1150px;
  /* border: 1px solid red; */
  margin: 0px auto;
  margin-left: auto;
  display: flex;
  justify-content: space-between;
}
nav .manu {
  display: flex;
  gap: 20px;
  align-items: center;
  list-style: none;
  text-decoration: none;
}
nav .manu a {
  text-decoration: none;
  color: #474747;
}
.btn {
  border: none;
  background-color: #fd6e0a;
  padding: 10px 25px;
  border-radius: 5px;
  font-size: 20px;
  font-weight: bold;
  color: white;
}
.btn-group{
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.btn:hover{
  background-color: #0661d87c;
}
.section-heading {
  max-width: 827px;
  text-align: center;
  margin: 0 auto;
}
.section-heading h2 {
  font-size: 35px;
  margin-bottom: 30px;
}
.section-heading p {
  font-size: 18px;
  margin-bottom: 30px;
  line-height: 30px;
  color: #757575;
}
.logo h2 {
  font-size: 45px;
  font-weight: bolder;
}
.color-orenge {
  color: #fd6e0a;
}
#banner {
  margin: 47px 38px 0px 230px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#banner .banner-content {
  max-width: 585px;
}
#banner .banner-content h2 {
  font-size: 45px;
  font-weight: 600;
  color: #474747;
  margin-bottom: 5px;
}
#banner .banner-content h1 {
  font-size: 85px;
  font-weight: bold;
  color: #181818;
  margin-bottom: 20px;
}
#banner .banner-content p {
  font-size: 18px;
  color: #757575;
  line-height: 30px;
  margin-bottom: 30px;
}
#banner .banner-imge {
  max-width: 585px;
  vertical-align: middle;
}
#about {
  padding-top: 130px;
}
#about .about-containar {
  width: 71%;
  max-width: 1140px;
  margin: 0 auto;
  text-align: center;
  background-color: #fff8f3;
  padding: 131px 156px;
}
#about .about-containar .about-info {
  display: flex;
  justify-content: space-around;
}
.about-info p {
  font-size: 20px;
  margin-bottom: 30px;
  line-height: 30px;
  color: #757575;
}
.about-info h4 {
  font-size: 20px;
}
#skills {
  padding-top: 130px;
}
#skills .skills-containar {
  width: 71%;
  max-width: 1140px;
  margin: 0 auto;
}
.skill-box {
  display: flex;
  gap: 24px;
  justify-content: center;
}
.skill-box .skill-card{
    padding: 30px;
    /* border: 1px solid black; */
    max-width: 300px;
    box-shadow: 0 6px 50px 0 #00000031;

}
.skill-card img{
    width: 44px;
    margin-bottom: 30px;
}
.skill-card h3{
    font-size: 20px;
    color: #181818;
    margin-bottom: 20px;
}
.skill-card p{
     font-size: 18px;
  color: #757575;
  line-height: 30px;
  
}
/* resume section  */
#resume{
     padding-top: 130px;
}
#resume .resume-cotainar{
    width: 71%;
    max-width: 1140px; 
    margin: 115px auto 0;
    display: flex; 
    gap: 24px;
}
.resume-cotainar .section-titel{
    color: #474747;
    font-size: 30px;
    margin-bottom: 30px;
}
.resume-card{
    max-width: 411px;
    margin-right: 47px;
}
.card-titel{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #474747;
}
.card-info{
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 20px;
    color: #757575;

}
.card-text{
    font-size: 12px;
    line-height: 28px;
    color: #757575;
}
 #resume .resume-cotainar hr{
    margin: 30px auto;
} 
.text-center{
    text-align: center;
}
/* footer section */
footer{
    margin-top: 130px;
    background-color: #fff8f3;
    padding: 130px;
}

.footer-containar{
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    gap:116px ;
}
.footer-containar .social{
    max-width: 562px;
}
.footer-containar .social p{
    color: #474747;
    line-height: 28px;
    margin-bottom: 30px;
}
.footer-containar h2{
    color: #181818;
    font-size: 35px;
    margin-bottom:20px ;
}
.footer-containar .icon a{
    margin:24px ;
}
.footer-containar form input[type="text"] {
    width: 461px;
    padding: 18px 31px;
    margin-bottom: 24px;
    border: none;
    border-radius: 5px;
}
.footer-containar form input[type="email"] {
    width: 461px;
    padding: 18px 31px;
    margin-bottom: 24px;
    border: none;
    border-radius: 5px;
    color: #757575;
}
.hide{
  display: none !important;
}
@media screen and (max-width:576px) {
  nav{
    gap: 20px;
  }
  nav .manu{
    flex-wrap: wrap;
    justify-content: center;
  }
  #banner{
    margin: 20px;
    gap: 20px;
    text-align: center;
  }
  #banner .banner-imge img{
    max-width:100%;
  }
  #banner .banner-content h1{
    font-size: 50px;
  }
  .btn-group{
    justify-content: center;
  }
  header {
  background: url(../images/header_bg.png);
  background-position: bottom right;
  background-repeat: no-repeat;
  padding-top: 50px;
}
  #about,
  #skills,
  #resume{
    padding-top: 60px;
  }
  #skills .skills-containar {
  max-width: 95%;
}
.skill-box, .about-info, nav, #banner {
 flex-direction: column;
}
.skill-card{
  max-width:100%;
}
#about .about-containar{
  padding: 20px;
}
.about-info {
 gap: 10px;
}
.about-info h4 {
  font-size: 100%;
}
.footer-containar{
  flex-direction: column;
  max-width: 100%; 
  gap:10px ;
  margin: 6px;
  padding: 10px;
  
}
.footer-containar form input[type="text"] {
    width: 100%;
}
.footer-containar form input[type="email"] {
    width: 100%;
}
footer{
    margin-top:10px;
    background-color: #fff8f3;
    padding: 0px;
}
#resume .resume-cotainar{
  flex-direction: column;
  margin-top: 60px;
}
.resume-card{
    max-width: 100%;
    margin-right: 4px;
}

}